<head>
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	
</head>

<body>
	
	<div id="heading">
	<h1 id="banner">BAD MOVIES ONLY</h1> <img src="https://i.imgur.com/Wucf6hl.png" width="150px">
	</div>

	<div id="display">

		<div id="searcher">
		<input placeholder="Search" v-model="find">
		<button v-on:click="findMovie">Go</button>
		</div>
	
		<div id="searched-movie" v-show="searchedmovie.obj">
			<br>
			<img v-bind:src="searchedmovie.link" height="300px">
			<p>Directed by {{searchedmovie.dir}}</p>
			<p>Starring: {{searchedmovie.stars}}</p>
			<p v-bind:style="{color: scoreColor}">Metacritic score: {{searchedmovie.rating}}</p>

			<button v-on:click="addToList" v-show="searchedmovie.bad">Add to my list</button>

		</div>


		<div id="list">
			<h2 id="list-title">My List</h2>
			<ul v-show="moviesList">
				<li v-for="movie in moviesList">
					<button v-on:click="remove(movie)">X</button> {{movie}}
				</li>
			</ul>
		</div>
	</div>


	
	<script src="app.js"></script>

</body>


