body {
	background-color: #f6da51;
}

h1 {
	font-family: sans-serif;
}

h2 {
	font-style: italic;
	font-family: "Brush Script", sans-serif;
}

ul {
	list-style-type: none;
}

/*#display {
	display: flex;
	flex-direction: row;
}*/

#searcher {
	position: left;
}

/*#list {
	position: right;
}*/

#list {
    position: absolute;
    top: 30px;
    left: 650px;
    
}
